.events-display-container {
  margin-top: 50px;

  .events-display_title {
    font-size: 18px;
    font-weight: 500;
  }
  .events-display_sort-container {
    display: flex;
    gap: 8px;
    color: #8a8a8a;
    font-size: 18px;
    font-weight: 500;
    align-items: center;

    @media screen and (min-width: 320px) {
        flex-wrap: wrap;
    }

    .sort-container_chip {
      border-radius: 25px;
      background: rgba(204, 164, 255, 0.21);
      padding: 0px 17px;
      color: #3e008c;
      height: fit-content;
    }
  }
  .events-buble-container {
    position: relative;
    height: 1000px;
    margin-top: 20px;
   

    .event-cards-container {
      display: flex;
      flex-direction: column;
      gap: 35px;
      scroll-behavior: auto;
      padding-top: 30px;
 
      > div:nth-child(even) {
        transform: translateX(40px);
      }
    }

    .events-buble {
      position: absolute;
      top: 0px;
      left: -70%;
      width: 520px;
      height: 500px;
      border-radius: 50%;
      background: rgb(62, 0, 140);
      background: radial-gradient(
        circle,
        rgba(62, 0, 140, 1) 0%,
        rgba(62, 0, 140, 0.1) 90%
      );
    }
  }
}
